<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- <fullstack-logo></fullstack-logo> -->
        </div>

        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-repeat="adminItem in adminItems" ng-show="isLoggedIn() && user.admin">
                <a ui-sref-active="active" ui-sref="{{ adminItem.state }}">{{ adminItem.label }}</a>
            </li>
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" ng-click = "updateCart()" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    <i class="fa fa-shopping-cart"></i>  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <div>
                        <li ng-repeat = "item in cartObj">{{item.name}} Price: {{item.price}} Quantity: {{item.quantity}} </li>
                        <li class="divider"></li>
                        <h6>Total: {{total}}</h6>
                        <button type = "button" class = "btn btn-warning" ui-sref="checkout">Check out!</button>
                    </div>
                    <!-- <div ng-show = "user">
                        <li ng-repeat = "item in cart"></li>
                    </div> -->

                </ul>
            </div>
            <li>    
                <form name="searchForm" ng-submit="beerInfo(result)">
                    <input type="text" placeholder="Search" ng-model='result' typeahead="beer.name for beer in getBeer($viewValue)" typeahead-loading="loadingBeers" typeahead-on-select="beerInfo(result)">
                    <i ng-show="loadingBeers" class="glyphicon glyphicon-refresh" ></i>

                    <button type='submit'> Submit </button>
                </form>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
        <button ng-show="!user" ui-sref="signup" class="btn login-button">Sign Up</button>
    </div>
</nav>