<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref = "home.main" class="navbar-brand icon"><i class="fa fa-beer fa-2x"></i></a>
            <a ui-sref = "home.main" class="navbar-brand logo">HopShop</a>
        </div>

        <ul class="nav navbar-nav">
            <li ng-repeat="adminItem in adminItems" ng-show="isLoggedIn() && user.admin">
                <a ui-sref-active="active" ui-sref="{{ adminItem.state }}">{{ adminItem.label }}</a>
            </li>
            <div class="btn-group" dropdown is-open="status.isopen">
                <button type="button" ng-click = "updateCart()" class="btn btn-sm btn-default dropdown-toggle navbar-brand cart" dropdown-toggle ng-disabled="disabled">
                    <i class="fa fa-shopping-cart"></i>  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <div>
                        <li ng-repeat = "item in cartObj">{{item.name}} Price: {{item.price}} Quantity: {{item.quantity}} </li>
                        <li class="divider"></li>
                        <h6>Total: {{total}}</h6>
                        <button type = "button" class = "btn btn-warning" ui-sref="checkout">View Cart</button>
                    </div>
                    <!-- <div ng-show = "user">
                        <li ng-repeat = "item in cart"></li>
                    </div> -->

                </ul>
            </div>
            <li>    
                <form class="navbar-form navbar-left" name="searchForm" ng-submit="beerInfo(result)">
                <div class="form-group">
                    <input class = "form-control" type="text" placeholder="Search" ng-model='result' typeahead="beer.name for beer in getBeer($viewValue)" typeahead-loading="loadingBeers" typeahead-on-select="beerInfo(result)">
                    </div>
                    <i ng-show="loadingBeers" class="glyphicon glyphicon-refresh" ></i>

                    <button class = "btn btn-sm btn-default" type='submit'>
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <button class="btn logout-button" ng-click="logout()">Logout</button>
        </div>
        <button ng-show="!user" ui-sref="signup" class="btn login-button">Sign Up</button>
    </div>
</nav>