
body {
  height: 100vh;
}
#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

ul.side-nav.fixed {
  overflow: hidden;

}

.side-nav.fixed
{
  left: 0;
  position: fixed;
}

ul.side-nav.fixed li {
  line-height: 44px;
}


.browse-item {
   width: 20%;
   margin: 20px;

  p {
    text-align: center;
    width: 200px;
    height: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  img {
    display: inline-block;
    // float: left;
  }
}

.carousel {
  width: 95%;
  .caption-img {
    margin-top: 20px;
  }
  padding-left:10%;
  margin-top: 1%
}

.carousel-indicators li { visibility: hidden; }

ul.browse-list {
  list-style-type: none;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
modal {
  width:85%;
}

.modal-body {
  height: 350px;
}

.modal-footer{
  #quantity {
    width: 30px;
  }
  .quantity{
    position: relative;
    top:5px;

  }

  button {
    margin: 0 15px;
  }

  input {
    position: relative;

    height: 2em;
    width: 2em;
    text-align: center;
  }
}

ul.review-list {
    height: 250px;
    width: 40%;
    overflow:hidden; 
    overflow-y:scroll;
  
}

.btnSelected {
  background-color: #e6e6e6;
}

///Admin
.admin-form {
  width: 40%;
  margin-left: 30px;
  margin-top: 20px;

  label {
    margin-top: 10px;
  }

  .submit {
    margin-top: 15px;
  }
}
.admin-form.col-2 {
    width: 80%;
  }

.admin-select {
  width:30%;
  margin-left: 30px;
  margin-top: 20px;
}

.admin-options {
  margin-left: 30px;
}

.admin-input-float {
  width: 50%;
}

.admin-body{
  @include clearfix;
  height: 100vh;
}

.panel {
  margin-top: 20px;
}
.body{
  @include clearfix;
  height: 100vh;
  margin-top:60px;
  background-color: #063e53;
}
.col-lg-10{
  @import clearfix;
  float:right;
  height: 100vh;
  padding:0;
}
.col-md-10{
  @import clearfix;
  float:right;
  height: 100vh;

  padding:0;
}
.col-sm-10{
  @import clearfix;
  float:right;
  height: 100%;
  padding:0;
}

#display{
  padding-left:5%;
}


.browse {
  font-family: "Raleway", sans-serif;
  color: #d1c5b7;
}

.browse-table {
  width: 80%;
  margin: 0 auto;
  td {
    font-family: "Bitter", serif;
    padding-top: 20px;
    padding-right: 30px;
  }
}
