#checkout{
	.back{
		margin: 1%;

	}
	font-family: 'Raleway', sans-serif;
	.btn-default{
		background-color:#856941;
		border-color:#856941;
		color:#fefefe;
	}
	h4,h6{
		color:#fefefe;

	}
	.next{
		background-color:#0193B7;
		border-color:#0193B7;
		color: #fefefe;
	}
}